# Execute it as a markdown cell
# H1: This is a level 1 Heading

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Overview of Data Science Tools
* Languages of Data Science
* Packages, APIs, Datasets and Models
* Jupyter Notebooks and Jupyter Lab
* R Studio and GitHub

## H2: Author
# Liana

# Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

# Some of commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensoFlow
7. PyTorch
8. Keras
9. Scrapy

| Data Science Tools |
| ------ |
| Jupiter Notbooks |
| R Studio |
| Apache Spark |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
'This a simple arithmetic expression to multiply then add integers'
'Multiplication operation'
(3*4)+5

17

In [2]:
'This will convert 200 minutes to hours by diving by 60'
200/60

3.3333333333333335